<h2>Article</h2>
<%= render @article %>
<%= link_to 'Edit', edit_article_path(@article)%> |
<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }%>
<% if @article.comments.any? %>
  <h2>Comments</h2>
  <%= render @article.comments %> 
<% end %>
<p>
  <%= link_to 'New Comment', new_article_comment_path(@article) %>
</p>
<%#= link_to "All Articles", articles_path %>