<!DOCTYPE html>
<html>
<head>
  <title><%= titlize(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header><%= render 'layouts/header'%></header>
  <%if flash[:notice] %>
    <div class = "alert"><h4><%= flash[:notice] %></h4></div>
  <% end%>
  <div id = 'body'>
    <%= yield %>
  </div>
  <footer><%= render 'layouts/footer' %></footer>
</body>
</html>
